{% extends "base.html"  %}
{% block content %}

<div class="jumbotron">
    <h2>Add a research center</h2>

    <form method="POST">

    {{form.hidden_tag()}}
    {{form.name.label}} {{form.name()}}
    <br>
    {{form.director.label}} {{form.director()}}
    <br>
    {{form.undergrad.label}} {{form.undergrad()}}
    <br>
    {{form.primary_field.label}} {{form.primary_field()}}
    <br>
    {{form.budget.label}} {{form.budget()}}
    <br>
    {{form.img.label}} {{form.img()}}
    <br>
    {{form.mission.label}} {{form.mission()}}
    <br>
    {{form.url.label}} {{form.url()}}
    <br>
    {{form.submit()}}

    </form>
</div>
{% endblock %}